input {
    margin-top: 3px;
}

.personaje, .opciones, .mensaje {
    width: 80%;
    margin-left: 10%;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selector {
    margin: 10px 0 10px 0;
}

#newsletter {
    margin: 10px 0 15px 0;
}

.formulario {
    width: 80%;
    margin-left: 10%;
}

.habilidades {
    width: 80%;
    margin-left: 10%;
}

.enlace {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.enlace:hover {
    background-color: black;
}

@media (max-width: 425px) {
    main {
        margin: 5px;
    }
    #mensaje {
        width: 90%;
    }
    .contenedor_imagen {
        margin-top: 30px;
        position: relative;
        display: inline-block;
        height: 300px;
    }
    .texto_imagen {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

@media (min-width: 426px) {
    .grupo1 {
        width: 50%;
        float: left;
    }
    .grupo2 {
        width: 50%;
        float: right;
    }
    progress {
        height: 20px;
    }
    .skill {
        width: 30%;
        height: 200px;
        display: inline-block;
        box-sizing: border-box;
    }
    .contenedor_imagen {
        position: relative;
        display: inline-block;
    }
    .texto_imagen {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    #imagen_fondo {
        width: 80%;
        margin-left: 10%;
        content:url(/assets/portfolio/background2.jpg)
    }
}