.fade-in{
    opacity: 0;
    animation: fadeInAnimation 2.5s ease-in forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}

main {
    margin: 10%;
}

h6 {
    margin-top: 0;
}

@media (max-width: 425px) {
    iframe {
        width: 100%;
        height: 300px;
    }
    .portada{
        width: 95%;
        height: auto;
    }
    .proyectos {
        width: 100%;
    }
    .libro {
        display: inline-block;
        width: 45%;
        height: auto;
    }
}

@media (min-width: 426px) {
    iframe {
        width: 100%;
        height: 500px;
    }   
    .libro{
        width: 30%;
        height: auto;
    }
    .portada{
        width: 80%;
        height: auto;
    }
    .libro {
        display: inline-block;
        width: 30%;
        height: auto;
    }
}